.game-field {
    --field-size: 10;

    width: 300px;
    display: grid;
    grid-template-columns: repeat(var(--field-size), 1fr);

    border: 1px solid;
}

.field-cell {
    display: flex;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1/1;
    border: 1px solid;
}
