.tic-tac-controls {
    & button {
        all: unset;
        padding: 10px;
        border: 2px solid var(--text-color);
        border-color: var(--clr2);
        border-radius: 5px;
        background-color: var(--clr2-with-opacity);
        font-weight: bold;
        opacity: 0.9;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: var(--clr2);
        }

        &:focus-visible {
            outline: 1px solid var(--text-color);
        }
    }

    & .tic-tac-buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    & .settings-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;

        anchor-name: --settings-button;

        svg {
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.tic-tac-winner-dialog {
    width: 300px;
    background: var(--clr4);
    border: 0;
    border-radius: 20px;
    color: var(--text-color);

    & .winner-dialog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding: 20px;

        & .winner-dialog-header {
            color: var(--text-color-opacity);
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        & .winner-dialog-content {
            width: 100px;
            height: 100px;
        }
    }
}

.tic-tac-winner-dialog::backdrop {
    background: rgb(0, 0, 0, 0.3);

    transition: all 0.5s ease-in;

    @starting-style {
        background: rgb(0, 0, 0, 0);
    }
}
