.toc--wrapper {
    position: sticky;
    top: 20px;
}

.toc--list {
    list-style: none;
    margin: 0;

    border-left: 1px solid #ffffff5c;
    padding: 0;
}

.toc--list-item {
    display: flex;

    opacity: 0.6;
    border-left: 3px solid transparent;
    cursor: pointer;

    .toc--list-item-indicator {
        border: 1px solid;
        margin-left: -4px;
    }

    &.toc--list-item__selected {
        opacity: 1;
    }

    &:not(.toc--list-item__selected):hover {
        opacity: 0.8;
    }
}
