:is(.tic-tac-game, .tic-tac-controls) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tic-tac-game {
    gap: 20px;
}

.tic-tac-board {
    --board-size: 3;
    --cell-size: 100px;

    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
}

.tic-tac-cell {
    width: var(--cell-size);
    aspect-ratio: 1;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}
