@import url('./styles/Controls.css');
@import url('./styles/SettingsPopover.css');
@import url('./styles/Cell.css');
@import url('./styles/NumberInput.css');
@import url('./styles/WinnerDialog.css');

:root {
    --board-size: 3;
    --cell-size: 50px;
    --text-color: #fff;
    --text-color-opacity: #ffffffc7;
    --btn-bg-color: 60, 103, 227;

    --clr1: #5ddcff;
    --clr2: #3c67e3;
    --clr2-with-opacity: #3c66e392;
    --clr3: #4e00c2;
    --clr4: #212534;
}

@property --rotate {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

:is(.tic-tac-game, .tic-tac-controls) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.tic-tac-settings {
    width: 24px;
    height: 24px;
    stroke: var(--text-color);
    stroke-width: 1.5;
}

.tic-tac-game {
    color: var(--text-color);
    gap: 20px;
    width: 100%;
    height: 100%;
}

.tic-tac-board {
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(var(--board-size), minmax(var(--cell-size), 1fr));
    gap: 5px;

    isolation: isolate;
}
