table {
    border-collapse: collapse;
    font-size: 14px;
}

td,
th {
    padding: 4px;
    border-bottom: 1px solid #ddd;
    text-align: start;
}

th {
    vertical-align: top;
    padding-bottom: 0;
    padding: 5px;
}

th button {
    background: none;
    border: none;
    cursor: pointer;

    width: 100%;
    padding: 0 5px 5px 0;
    text-align: left;
}

.data-table__header-column--sorted {
    border-bottom: 2px solid;
}

.table-pagination__container {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.range-column-filter {
    display: flex;
    gap: 5px;
}

th input {
    width: 100%;
}

.range-column-filter input {
    width: 50px;
}
